<div class="container-fluid ">
    <div class="row ">
        <div class="col-lg-3">
            <div class="contenedor-principal" id="tablaContenidos">

            </div>
        </div>
        <div class="col-lg-9">
            <div class="contenedor-principal ">
                <div class="p-3 ">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <h2 class="tituloPrincipal">
                                Lista de <span class="colorResaltar">Actividades</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h5>Sistema Digestivo</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <a href="/">
                                    <img src="../assets/img/vof.svg" alt="" class="card-img-top">
                                    <div class="card-body">
                                        <p class="card-text">Verdadero o Falso</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="card">
                                <a href="/">
                                    <img src="../assets/img/seleccion.svg" alt="" class="card-img-top">
                                    <div class="card-body">
                                        <p class="card-text">Selección múltiple</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>