<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="contenedor-principal">
                <div class="p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tituloPrincipal">
                                Contenido
                            </h2>
                        </div>
                    </div>
                    <div class="row contenido">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    <a href="">Inicio</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    <a href="">Sistema Circulatorio</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    <a href="">Sistema Nervioso</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    <a href="">Sistema Oseo</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    <a href="">Sistema Excretor</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                        </svg>
                                    <a href="">Sistema Respiratorio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="contenedor-principal">
                <div class="p-5">
                    <div class="row">
                        <h2 class="tituloPrincipal">
                            Sistema <span class="colorResaltar">Circulatorio</span>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>El <strong>sistema circulatorio </strong>es el que mantiene la sangre fluyendo continuamente por nuestro cuerpo. </p>
                            <p>Es un asombroso recorrido impulsado por el corazón y es el que mantiene nuestro cuerpo en funcionamiento.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg> ¿Qué es el sistema circulatorio? </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>El sistema circulatorio, conocido también como sistema cardiovascular, es un sistema de órganos que transporta sangre a través de los vasos sanguíneos hacia y desde todas las partes del cuerpo.
                            </p>

                            <p>Es un sistema tubular cerrado en el que la sangre es impulsada por un corazón muscular.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p> Este sistema lleva <strong>oxígeno, nutrientes y hormonas</strong> a las células y elimina los productos de desecho, como el dióxido de carbono. El recorrido que sigue la sangre siempre va en la misma dirección, para que las
                                cosas sigan funcionando como deben funcionar.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3 id="funciones"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg> Función del sistema circulatorio</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <p>
                                Tu sistema circulatorio es vital para tu supervivencia, no solo mantiene nuestras células sanas, sino que también nos mantiene vivos.
                            </p>
                            <p>Su función es distribuir <strong>sangre y otros nutrientes</strong> a todos los órganos y tejidos del cuerpo.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>
                                También permite que nuestro cuerpo se pueda defender de las enfermedades o pueda mantener su homeostasis, es decir un entorno interno estable, como la temperatura o el pH.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3 id="organos">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg> Órganos
                            </h3>
                        </div>
                    </div>
                    <!-- Titulo 1 -->
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    El <strong>corazón</strong> y los <strong>vasos sanguíneos </strong> constituyen el sistema circulatorio. La sangre que circula a través de este sistema libera oxígeno y nutrientes a los tejidos del organismo y elimina
                                    los productos de desecho de dichos tejidos.
                                </p>
                                <p>A continuación se describen los órganos principales que componen el
                                    <strong>sistema circulatorio: </strong></p>
                            </div>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-12">
                                    <h3>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                            </svg>
                                        <span class="colorResaltar">Corazón</span>
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="card">
                                        <img src="" alt="" class="card-img-top">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p>
                                        El corazón es una bomba, que suele <strong>latir entre 60 y 100 veces por minuto</strong>. En cada latido, el corazón envía sangre a todo el cuerpo, transportando oxígeno a todas sus células.
                                    </p>
                                    <p>
                                        Después de distribuir el oxígeno, la sangre vuelve al corazón. Desde allí, la sangre se bombea hacia los pulmones, donde se vuelve a cargar de oxígeno. Este ciclo se repite una y otra vez.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="ml-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                            </svg>
                                        <span class="colorResaltar">¿Cómo late el corazón?</span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>Antes de cada latido, el corazón se te llena de sangre. A continuación, el músculo se contrae para impulsar la sangre hacia fuera.</p>
                                <p>Cuando el corazón se contrae, se encoge: prueba a cerrar la mano para formar un puño.</p>
                            </div>
                            <div class="col-lg-6">
                                <img src="" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p> Eso es más o menos lo que hace tu corazón para impulsar la sangre hacia fuera. Y tu corazón lo hace todo el día y toda noche, sin parar, constantemente
                                </p>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 text-center ">
                                <p>
                                    <strong>
                                            <em> ¡Tu corazón trabaja muy duro!
                                    </em>
                                </strong>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg> <span class="colorResaltar">¿Dónde se encuentra el corazón?</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="" alt="" class="img-fluid">
                            </div>
                            <div class="col-lg-6">
                                <p>
                                    Está situado en el tórax, entre los dos pulmones. Si cierras el puño de la mano sabrás más o menos cuál es el tamaño de tu corazón. Como ves no es muy grande y suele pesar como máximo unos trescientos gramos.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    <span class="colorResaltar">¿Cómo puedo mantener sano el corazón?
                                        </span>
                                </h3>
                            </div>
                        </div>
                        <div class="funcionesEstomago">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 mb-sm-2 ">
                                    <div class="card">
                                        <div class="card-body">
                                            <p>Haz mucho ejercicio físico.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-12 mb-sm-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <p>Lleva una dieta nutritiva.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-12 mb-sm-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <p>Mantener un peso saludable.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-12 mb-sm-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <p>No fumar.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Titulo 2 -->
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    <span class="colorResaltar">Vasos sanguíneos</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <p>
                                    Si alguna vez has visto un <strong> mapa</strong>, probablemente hayas observado que las calles van y vienen en muchas direcciones.
                                </p>
                                <p>
                                    El cuerpo tiene un sistema de autopistas propio que transporta sangre desde y hacia las distintas partes de tu organismo. Donde los caminos se denominan “arterias” y “venas”. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>A continuación describiremos las <strong>arterias, venas y vasos capilares</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    <span class="colorResaltar">Arterias</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p> Llevan sangre rica en oxígeno y nutrientes del corazón a todas las partes del cuerpo).
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    <span class="colorResaltar">Venas</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <p>Transportan la sangre pobre en oxígeno y nutrientes de vuelta al corazón.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    <span class="colorResaltar">Vasos capilares</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p> Son el tipo más pequeño de los vasos sanguíneos y constituyen el puente entre las arterias y las venas.
                                </p>

                                <p>Los capilares rodean a las células y a los tejidos del cuerpo para aportar y absorber oxígeno, nutrientes y otras sustancias. Los capilares también conectan las ramas de las arterias y las ramas de las venas.</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    <span class="colorResaltar">¿Qué es la sangre?</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>La sangre es un tejido vivo formado por líquidos y sólidos. La parte líquida, llamada plasma, contiene agua, sales y proteínas. Más de la mitad del cuerpo es plasma. La parte sólida de la sangre contiene glóbulos rojos,
                                    glóbulos blancos y plaquetas.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>Transporta oxígeno y nutrientes a todas las partes del cuerpo para que puedan seguir funcionando. La sangre también transporta dióxido de carbono y otros materiales de desecho hasta los pulmones, los riñones y el sistema
                                    digestivo, que se encargan de expulsarlos al exterior.</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                                    <span class="colorResaltar">¿Qué es la sangre?</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 ">
            <div class="contenedor-principal ">
                <div class="p-3 ">
                    <div class="row ">
                        <h2 class="tituloPrincipal ">
                            Actividades
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Actividades -->
    <!-- <div class="container-fluid ">
        <div class="row ">
            <div class="col-lg-3 ">
                <div class="contenedor-principal ">
                    <div class="p-3 ">
                        <div class="row ">
                            <div class="col-12 ">
                                <h2 class="tituloPrincipal ">
                                    Contenido
                                </h2>
                            </div>
                        </div>
                        <div class="row contenido ">
                            <div class="col-12 ">
                                <ul>
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="10 " fill="currentColor " class="bi bi-pencil-fill " viewBox="0 0 16 16 ">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0
                                1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0
                                .168-.11l.178-.178z "/>
                                        </svg>
                                        <a href=" ">Inicio</a>
                                    </li>
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="10 " fill="currentColor " class="bi bi-pencil-fill " viewBox="0 0 16 16 ">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0
                                1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0
                                .168-.11l.178-.178z "/>
                                        </svg>
                                        <a href=" ">Sistema Circulatorio</a>
                                    </li>
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="10 " fill="currentColor " class="bi bi-pencil-fill " viewBox="0 0 16 16 ">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0
                                1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0
                                .168-.11l.178-.178z "/>
                                        </svg>
                                        <a href=" ">Sistema Nervioso</a>
                                    </li>
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="10 " fill="currentColor " class="bi bi-pencil-fill " viewBox="0 0 16 16 ">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0
                                1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0
                                .168-.11l.178-.178z "/>
                                        </svg>
                                        <a href=" ">Sistema Oseo</a>
                                    </li>
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="10 " fill="currentColor " class="bi bi-pencil-fill " viewBox="0 0 16 16 ">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0
                                1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0
                                .168-.11l.178-.178z "/>
                                        </svg>
                                        <a href=" ">Sistema Excretor</a>
                                    </li>
                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg " width="10 " height="10 " fill="currentColor " class="bi bi-pencil-fill " viewBox="0 0 16 16 ">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0
                                1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0
                                .168-.11l.178-.178z "/>
                                        </svg>
                                        <a href=" ">Sistema Respiratorio</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="contenedor-principal ">
                    <div class="p-3 ">
                        <div class="row ">
                            <div class="col-12 ">
                                <h2 class="tituloPrincipal ">
                                    Actividad <span class="colorResaltar ">#1</span>
                                </h2>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 ">
                                <p>Selecciona la respuesta correcta</p>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 text-center ">
                                <p><strong>¿Cual es el siguiente organo?</strong></p>
                            </div>
                        </div>
                        <div class="row justify-content-center ">
                            <div class="col-6 ">
                                <div class="card ">
                                    <img src="../assets/img/lapiz.png " alt=" " class="card-img-top ">
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-3 ">
                            <div class="col-lg-4 col-md-4 ">
                                <label class="labelBlock ">
                                    <input type="radio " name="respuestas " class="card-input-element " />
                                    <div class="card card-default card-input ">
                                        <div class="card-body ">
                                            <span>Respuesta #1</span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 ">
                                <label class="labelBlock ">
                                    <input type="radio " name="respuestas " class="card-input-element " />
                                    <div class="card card-default card-input ">
                                        <div class="card-body ">
                                            <span>Respuesta #2</span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 ">
                                <label class="labelBlock ">
                                    <input type="radio " name="respuestas " class="card-input-element " />
                                    <div class="card card-default card-input ">
                                        <div class="card-body ">
                                            <span>Respuesta #3</span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="row mt-2 justify-content-between ">
                            <div class="col-lg-5 ms-auto ">
                                <button class="btn " id="anterior ">
                                    <svg xmlns="http://www.w3.org/2000/svg " width="16 " height="16 " fill="currentColor " class="bi bi-arrow-bar-left " viewBox="0 0 16 16 ">
                                        <path fill-rule="evenodd " d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5
                                0 0 1 .5.5z "/>
                                    </svg> Anterior
                                    </button>
                                <button class="btn " id="siguiente ">
                                        Siguiente
                                        <svg xmlns="http://www.w3.org/2000/svg " width="16 " height="16 " fill="currentColor " class="bi bi-arrow-bar-right " viewBox="0 0 16 16 ">
                                            <path fill-rule="evenodd " d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0
                                1 1 0v13a.5.5 0 0 1-.5.5z "/>
                                        </svg>
                                        </button>
                            </div>
                        </div>
                        <div class="row mt-2 ">
                            <div class="col-12 ">
                                <h2 class="tituloPrincipal ">
                                    Actividad <span class="colorResaltar ">#2</span>
                                </h2>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 ">
                                <p>Selecciona el sistema que corresponde el organo</p>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="row justify-content-center mt-3 ">
                                <div class="col-lg-4 col-md-4 ">
                                    <label class="labelBlock ">
                                        <input type="radio " name="actividad " class="card-input-element " />
                                        <div class="card card-default card-input ">
                                            <div class="card-body ">
                                                <span>Respuesta #1</span>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 ">
                                    <label class="labelBlock ">
                                        <input type="radio " name="actividad " class="card-input-element " />
                                        <div class="card card-default card-input ">
                                            <div class="card-body ">
                                                <span>Respuesta #2</span>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 ">
                                    <label class="labelBlock ">
                                        <input type="radio " name="actividad " class="card-input-element " />
                                        <div class="card card-default card-input ">
                                            <div class="card-body ">
                                                <span>Respuesta #3</span>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-2 ">
                            <div class="col-6 ">
                                <div class="card ">
                                    <img src="../assets/img/lapiz.png " alt=" " class="card-img-top ">
                                </div>
                            </div>
                        </div>
                        ACTIVIDAD 3
                        <div class="row mt-2 ">
                            <div class="col-12 ">
                                <h2 class="tituloPrincipal ">
                                    Actividad <span class="colorResaltar ">#3</span>
                                </h2>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12 ">
                                <p>Selecciona verdadero y falso</p>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-6 ">
                                <p>
                                    1. Enunciado 1
                                </p>
                            </div>
                            <div class="col-6 ">
                                <input type="radio " class="btn-check " name="options " id="option2 " autocomplete="off ">
                                <label class="btn btn-success " for="option2 ">Verdadero</label>

                                <input type="radio " class="btn-check " name="options " id="option4 " autocomplete="off ">
                                <label class="btn btn-danger ms-2 " for="option4 ">Falso</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 ">
                <div class="contenedor-principal ">
                    <div class="p-3 ">
                        <div class="row ">
                            <h2 class="tituloPrincipal ">
                                Actividades
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->