<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="contenedor-principal" id="tablaContenidos">

            </div>
        </div>
        <div class="col-6">
            <div id="contenidos" class="contenedor-principal"></div>
        </div>
        <div class="col-3">
            <div class="contenedor-principal">
                <div class="p-3">
                    <div class="row">
                        <h2 class="tituloPrincipal">
                            Actividades
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>