<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="contenedor-principal">
                <div class="p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tituloPrincipal">
                                Contenido
                            </h2>
                        </div>
                    </div>
                    <div class="row contenido">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                    <a href="">Inicio</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                    <a href="">Sistema Circulatorio</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                    <a href="">Sistema Nervioso</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                    <a href="">Sistema Oseo</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                    <a href="">Sistema Excretor</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                    <a href="">Sistema Respiratorio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="contenedor-principal">
                <div class="p-5">
                    <div class="row">
                        <h2 class="tituloPrincipal">
                            Sistema <span class="colorResaltar">Digestivo</span>
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                              </svg> ¿Qué es el sistema digestivo? </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>El <strong>sistema digestivo </strong>es el que se encarga de procesar o digerir los alimentos que consumimos o comemos para extraer de ellos los nutrientes que el organismo necesita.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3 id="funciones"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                              </svg> Función del sistema digestivo</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <p>
                                Prepara los alimentos ingeridos para que puedan ser asimilados por el organismo y esto se consigue mediante el proceso de la digestión que comprende dos tipos de acciones: mecánicas y químicas.
                            </p>
                            <p>
                                Los diferentes órganos del <strong>aparato digestivo</strong> realizan una o las dos acciones que se inician en la <strong>boca</strong> y concluyen en el último tramo del <strong>intestino grueso</strong>.
                            </p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3 id="organos">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                  </svg> Órganos
                            </h3>
                        </div>
                    </div>
                    <!-- Titulo 1 -->
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    El <strong>aparato digestivo</strong> está constituido por un tubo, el tubo digestivo, al que están adosadas unas glándulas, las llamadas glándulas anejas (glándulas salivales, hígado y páncreas).
                                </p>
                                <p>
                                    Mediante unos procesos mecánicos y otros químicos, los alimentos son descompuestos en nutrientes que pueden ser absorbidos e incorporados al torrente sanguíneo, en el <strong>estómago.</strong>
                                </p>
                                <p>
                                    Para concluir el proceso del sistema digestivo se forman las <strong>heces</strong>, que están constituidas por los restos no asimilados junto con una ingente cantidad de bacterias.
                                </p>
                                <p>A continuación se describen los órganos principales que componen el
                                    <strong>sistema digestivo: </strong></p>
                            </div>
                        </div>
                    </div>

                    <!-- Titulo 2 -->
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                      </svg>
                                    <span class="colorResaltar">Faringe</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                10:08 PM 9/24/2022
                            </div>
                            <div class="col-lg-6">
                                <p>Es por donde pasa el alimento hacia el esófago. Por donde pasan los <strong>alimentos</strong>, después que entran a nuestra boca.
                                </p>
                                <p>Con el resultado de la trituración del alimento por los molares mediante el proceso de masticación se forma una masa conocida como <strong>bolo alimenticio.</strong></p>
                                <p>Cuando el <strong>bolo alimenticio</strong> toca la zona posterior de la lengua esta se eleva y se produce el acto reflejo de la deglución <strong>(tragar).</strong> </p>
                            </div>
                        </div>
                    </div>
                    <!-- Titulo 3 -->
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                  </svg>
                                    <span class="colorResaltar">Esófago</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p> Es un tubo musculoso y hueco que comunica la faringe con el estómago.</p>
                                <p>Cuando el bolo alimenticio entra en él se generan unas ondas que lo empujan hacia el estómago. </p>
                                <p>Interiormente, el esófago está revestido de una sustancia mucosa lo que facilita el desplazamiento de los alimentos.</p>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Titulo 4 -->
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                      </svg>
                                    <span class="colorResaltar">Estómago</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <p>Es el órgano a donde llegan los alimentos que son transportados por el <strong>esófago</strong> y es la porción más ancha del tubo digestivo.
                                </p>
                                <p>Con el resultado de la trituración del alimento por los molares mediante el proceso de masticación se forma una masa conocida como <strong>bolo alimenticio.</strong></p>
                                <p>Cuando el <strong>bolo alimenticio</strong> toca la zona posterior de la lengua esta se eleva y se produce el acto reflejo de la deglución <strong>(tragar).</strong> </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p>Es un <strong></strong>"saco" elástico que tiene la forma de la letra "J". Desempeña tres funciones importantes:</p>

                            </div>
                        </div>
                        <div class="funcionesEstomago">
                            <div class="row justify-content-center">
                                <div class="col-lg-9 mb-sm-2 ">
                                    <div class="card">
                                        <div class="card-body">
                                            <p>Almacenar la comida que has ingerido</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-9 mb-sm-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <p>Descomponer los alimentos en una mezcla líquida</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-9 mb-sm-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <p>Vaciar lentamente ese líquido al intestino delgado</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p>El estómago actúa como una <strong>batidora</strong>, mezclando y triturando todas las bolitas de comida procedentes del esófago en trozos cada vez más pequeños. </p>
                            </div>
                        </div>
                    </div>
                    <!-- Titulo 5 -->
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                      </svg>
                                    <span class="colorResaltar">Páncreas</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <p>Este fabrica unos jugos que ayudan al cuerpo a digerir las grasas y las proteínas.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- titulo 6 -->
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                      </svg>
                                    <span class="colorResaltar">Hígado</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>
                                    Es el órgano sólido más grande del cuerpo.
                                </p>
                                <p>
                                    El hígado realiza muchos trabajos, pero los tres más importantes son los siguientes:

                                </p>
                                <ul>
                                    <li>
                                        <p>Produce un líquido digestivo importante, denominado <strong>“bilis”.</strong> </p>
                                    </li>
                                    <li>
                                        <p>
                                            Almacena energía en forma de azúcar, denominada “glucógeno”.
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            Purifica la sangre.
                                        </p>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Titulo 7 -->
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                      </svg>
                                    <span class="colorResaltar">Intestino delgado</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <p>
                                    Es la porción más larga del tubo digestivo. En el <strong>intestino delgado</strong> tienen lugar los principales procesos de absorción de nutrientes que se realizan a través de las vellosidades intestinales que tapizan
                                    su interior.
                                </p>
                                <p>
                                    <em>El que convierte los alimentos en nutrientes, para que tengamos energía y fuerza.</em>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- titulo 8 -->
                    <div>
                        <div>
                            <div class="row">
                                <div class="col-12">
                                    <h3>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                      </svg>
                                        <span class="colorResaltar">Intestino grueso</span>
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <p>
                                        Se encarga de rechazar los alimentos que no son buenos para el cuerpo, haciendo que vayas al baño. El intestino grueso es, efectivamente, más grueso que el intestino delgado, y es casi la última parada en el tubo digestivo. Al igual que el intestino delgado,
                                        está replegado sobre sí mismo en el interior de tu cuerpo.

                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card">
                                        <img src="" alt="" class="card-img-top">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p>El <strong>intestino grueso</strong> va empujando las heces hasta que llegan al recto, la última parada del tubo digestivo. Los productos de deshecho en estado sólido se quedan allí hasta que tienes ganas de ir al baño.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- titulo 9 -->
                    <div>
                        <div class="row">
                            <div class="col-12">
                                <h3>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                      </svg>
                                    <span class="colorResaltar">Recto</span>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <img src="" alt="" class="card-img-top">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <p>
                                    Constituye la última porción del intestino grueso y del tubo digestivo. Comunica con el exterior por el ano por donde son expulsados todos los elementos que no se han podido digerir a lo largo del recorrido por el aparato digestivo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-3">
            <div class="contenedor-principal">
                <div class="p-3">
                    <div class="row">
                        <h2 class="tituloPrincipal">
                            Actividades
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Actividades -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="contenedor-principal">
                <div class="p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tituloPrincipal">
                                Contenido
                            </h2>
                        </div>
                    </div>
                    <div class="row contenido">
                        <div class="col-12">
                            <ul>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                    <a href="">Inicio</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                    <a href="">Sistema Circulatorio</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                    <a href="">Sistema Nervioso</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                    <a href="">Sistema Oseo</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                    <a href="">Sistema Excretor</a>
                                </li>
                                <li>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                      </svg>
                                    <a href="">Sistema Respiratorio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="contenedor-principal">
                <div class="p-3">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="tituloPrincipal">
                                Actividad <span class="colorResaltar">#1</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>Selecciona la respuesta correcta</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <p><strong>¿Cual es el siguiente organo?</strong></p>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="card">
                                <img src="../assets/img/lapiz.png" alt="" class="card-img-top">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3 ">
                        <div class="col-lg-4 col-md-4">
                            <label class="labelBlock">
                                <input type="radio" name="respuestas" class="card-input-element" />
                                  <div class="card card-default card-input">
                                    <div class="card-body">
                                        <span>Respuesta #1</span>
                                    </div>
                                  </div>
                              </label>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <label class="labelBlock">
                                <input type="radio" name="respuestas" class="card-input-element" />
                                  <div class="card card-default card-input">
                                    <div class="card-body">
                                        <span>Respuesta #2</span>
                                    </div>
                                  </div>
                              </label>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <label class="labelBlock">
                                <input type="radio" name="respuestas" class="card-input-element" />
                                  <div class="card card-default card-input">
                                    <div class="card-body">
                                        <span>Respuesta #3</span>
                                    </div>
                                  </div>
                              </label>
                        </div>
                    </div>
                    <div class="row mt-2 justify-content-between">
                        <div class="col-lg-5 ms-auto">
                            <button class="btn" id="anterior">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
                                  </svg> Anterior
                                </button>
                            <button class="btn" id="siguiente">
                                    Siguiente
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
                                      </svg>
                                    </button>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <h2 class="tituloPrincipal">
                                Actividad <span class="colorResaltar">#2</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>Selecciona el sistema que corresponde el organo</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row justify-content-center mt-3 ">
                            <div class="col-lg-4 col-md-4">
                                <label class="labelBlock">
                                    <input type="radio" name="actividad" class="card-input-element" />
                                      <div class="card card-default card-input">
                                        <div class="card-body">
                                            <span>Respuesta #1</span>
                                        </div>
                                      </div>
                                  </label>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label class="labelBlock">
                                    <input type="radio" name="actividad" class="card-input-element" />
                                      <div class="card card-default card-input">
                                        <div class="card-body">
                                            <span>Respuesta #2</span>
                                        </div>
                                      </div>
                                  </label>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <label class="labelBlock">
                                    <input type="radio" name="actividad" class="card-input-element" />
                                      <div class="card card-default card-input">
                                        <div class="card-body">
                                            <span>Respuesta #3</span>
                                        </div>
                                      </div>
                                  </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="col-6">
                            <div class="card">
                                <img src="../assets/img/lapiz.png" alt="" class="card-img-top">
                            </div>
                        </div>
                    </div>
                    ACTIVIDAD 3
                    <div class="row mt-2">
                        <div class="col-12">
                            <h2 class="tituloPrincipal">
                                Actividad <span class="colorResaltar">#3</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>Selecciona verdadero y falso</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>
                                1. Enunciado 1
                            </p>
                        </div>
                        <div class="col-6">
                            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                            <label class="btn btn-success" for="option2">Verdadero</label>

                            <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                            <label class="btn btn-danger ms-2" for="option4">Falso</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="contenedor-principal">
                <div class="p-3">
                    <div class="row">
                        <h2 class="tituloPrincipal">
                            Actividades
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->