<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="contenedor-principal" id="tablaContenidos"></div>
        </div>
        <div class="col-lg-9">
            <div class="contenedor-principal">
                <div class="p-5">
                    <div class="row">
                        <h3>Diccionario</h3>
                    </div>
                    <div id="contenidos" class="listaElementos">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title" id="titulo">Card title</h5>
                                        <h6 class="card-subtitle mb-2 text-muted" id="subTitulo">Card subtitle</h6>
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="../assets/img/corazonDiccionario.png" alt="" class="img-fluid">
                                            </div>
                                            <div class="col-9">
                                                <p class="texto">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>