<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="contenedor-principal" id="contenidos">

            </div>
        </div>
        <div class="col-8">
            <div class="contenedor-principal">
                <div class="p-5">
                    <div class="row">
                        <div class="col-12 text-center mb-2">
                            <h2 class="tituloPrincipal">
                                Bienvenidos/as, vamos a conocer tu cuerpo <span class="colorResaltar">por dentro.</span>
                            </h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-12 text-center  mb-2">
                                    <h2 class="tituloPrincipal colorResaltar"> Temas:</h2>
                                </div>
                            </div>
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false" data-bs-pause="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="card" id="digestivo">
                                                    <a href="?sistema=sistema-digestivo#contenido">
                                                        <img src="../assets/img/digestivo.svg" alt="" class="card-img-top">
                                                        <div class="card-body">
                                                            <strong>Sistema Digestivo</strong>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card" id="oseo">
                                                    <a href="?sistema=sistema-oseo#contenido">
                                                        <img src="../assets/img/oseo.svg" alt="" class="card-img-top">
                                                        <div class="card-body">
                                                            <strong>Sistema Oseo</strong>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card" id="circulatorio">
                                                    <a href="?sistema=sistema-circulatorio#contenido">
                                                        <img src="../assets/img/circulatorio.svg" alt="" class="card-img-top">
                                                        <div class="card-body">
                                                            <strong>Sistema Circulatorio</strong>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="card" id="nervioso">
                                                    <a href="?sistema=sistema-nervioso#contenido">
                                                        <img src="../assets/img/nervioso.svg" alt="" class="card-img-top">
                                                        <div class="card-body">
                                                            <strong>Sistema Nervioso</strong>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card" id="respiratorio">
                                                    <a href="?sistema=sistema-respiratorio#contenido">
                                                        <img src="../assets/img/respiratorio.svg" alt="" class="card-img-top">
                                                        <div class="card-body">
                                                            <strong>Sistema Respiratorio</strong>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card" id="excretor">
                                                    <a href="?sistema=sistema-excretor#contenido">
                                                        <img src="../assets/img/excretor.svg" alt="" class="card-img-top">
                                                        <div class="card-body">
                                                            <strong>Sistema Excretor</strong>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 mt-3">
                            <h2 class="tituloPrincipal">
                                Actividades <span class="colorResaltar">Recomendadas</span>
                            </h2>
                        </div>
                    </div>
                    <div id="actividadesRecomendadas">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <svg id="fillCheck" width="16" height="16" fill="currentColor" class="bi bi-file-check fillCheck" viewBox="0 0 16 16">
                                            <path d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                          </svg>
                                        <svg width="16" height="16" fill="currentColor" class="bi bi-file-check-fill fillCheckFull" viewBox="0 0 16 16">
                                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1.146 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                          </svg>
                                        <span>Actividad 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                                <div class="card">
                                    <div class="card-body">
                                        <svg id="fillCheck" width="16" height="16" fill="currentColor" class="bi bi-file-check fillCheck" viewBox="0 0 16 16">
                                            <path d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                          </svg>
                                        <svg width="16" height="16" fill="currentColor" class="bi bi-file-check-fill fillCheckFull" viewBox="0 0 16 16">
                                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1.146 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                          </svg>
                                        <span>Actividad 2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                                <div class="card">
                                    <div class="card-body">
                                        <svg id="fillCheck" width="16" height="16" fill="currentColor" class="bi bi-file-check fillCheck" viewBox="0 0 16 16">
                                            <path d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                          </svg>
                                        <svg width="16" height="16" fill="currentColor" class="bi bi-file-check-fill fillCheckFull" viewBox="0 0 16 16">
                                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1.146 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                          </svg>
                                        <span>Actividad 3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                                <div class="card">
                                    <div class="card-body">
                                        <svg id="fillCheck" width="16" height="16" fill="currentColor" class="bi bi-file-check fillCheck" viewBox="0 0 16 16">
                                            <path d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                            <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                                          </svg>
                                        <svg width="16" height="16" fill="currentColor" class="bi bi-file-check-fill fillCheckFull" viewBox="0 0 16 16">
                                            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1.146 6.854-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                          </svg>
                                        <span>Actividad 4</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>