<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="contenedor-principal" id="tablaContenidos"></div>
        </div>
        <div class="col-lg-9">
            <div class="contenedor-principal">
                <div class="p-5">
                    <div class="row">
                        <div class="col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                    <li class="breadcrumb-item active" aria-current="page" id="name"></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div id="contenidos" class="listaLectura">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title" id="titulo">Card title</h5>
                                        <h6 class="card-subtitle mb-2 text-muted" id="subTitulo">Card subtitle</h6>
                                        <p id="texto">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="card-link">Leer más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>